<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacteriaGreen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{89,104}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{89,104}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>bacteriaGreen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{83,104}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{83,104}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>bacteriaPink1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{71,106}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>bacteriaPink2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,93},{71,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{71,104}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>bacteriaPurple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{93,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{93,96}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>bacteriaPurple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{97,102}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{97,102}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bacteria00-hd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca5d07104a859285e36db16b0f8ff05a:1/1$</string>
            <key>textureFileName</key>
            <string>bacteria00-hd.png</string>
        </dict>
    </dict>
</plist>
