<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacteriaYellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,196}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{176,196}}</string>
                <key>sourceSize</key>
                <string>{182,216}</string>
            </dict>
            <key>bacteriaYellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{164,188}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{164,188}}</string>
                <key>sourceSize</key>
                <string>{182,216}</string>
            </dict>
            <key>bacteriaYellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,200},{170,190}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{170,190}}</string>
                <key>sourceSize</key>
                <string>{182,216}</string>
            </dict>
            <key>bacteriaYellow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{174,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{174,192}}</string>
                <key>sourceSize</key>
                <string>{182,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bacteria00-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77cb946c5e25e290ad4f3f49096968f:1/1$</string>
            <key>textureFileName</key>
            <string>bacteria00-hd.png</string>
        </dict>
    </dict>
</plist>
