<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decrease_vol.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,12},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>decrease_vol_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,12},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>increase_vol.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,12},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>increase_vol_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pin_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,12},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>slider_vol.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,8}}</string>
                <key>sourceSize</key>
                <string>{231,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer_option.png</string>
            <key>size</key>
            <string>{235,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19ba45369678ce4618f268286d6cbbb:f1475c2ef1a1df2eef62c345a86cd6bc:632e595f5f461554092c91f7eae6d5fd$</string>
            <key>textureFileName</key>
            <string>layer_option.png</string>
        </dict>
    </dict>
</plist>
