<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fungi.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{71,108}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{91,110}</string>
            </dict>
            <key>Germ.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,108}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{91,110}</string>
            </dict>
            <key>Virus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,108}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{91,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bacteria.png</string>
            <key>size</key>
            <string>{221,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd280b982993fdf5dca0265fe41f9c1a:021b6879f34df8c16dcf79abf23a54d2:f595e7f13f94d6144853678db42964fe$</string>
            <key>textureFileName</key>
            <string>bacteria.png</string>
        </dict>
    </dict>
</plist>
